/* صفحة الموجودات */
.existing-page {
  height: 100dvh;
  min-height: 100dvh;
  background: var(--sc-White);
  position: relative;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.existing-page .car-image{
  border: none;
}

.existing-page .tab-button.active {
  background-color: var(--black);
  color: var(--white);
}

.existing-page .tab-button:not(.active) {
  background: none;
  color: var(--black);
}

.existing-page .section-title {
  color: var(--black);
}

.existing-page .car-name {
  color: var(--black);
}

.existing-add {
  background-color: var(--white);
  color: var(--black);
}
